.navbar {
  flex-shrink: 0;
  height: 10%;
  background-color: #8B7C3B;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-up {
  font-size: 50px;
}